doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Invitation
    body
        h1 Follow the link in this QR code to join the game
        h1=title
        img.qr-code(src = qrc)